# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
airflow-env/
venv/
.env
.env.*

# Data files (raw and processed)
data/raw/
data/processed/

# Airflow logs
~/airflow/logs/
airflow.db

# IDE / Editor files
.vscode/
.idea/
*.swp
.DS_Store

# Streamlit / Dash caches
.cache/
